# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.packages
.flutter-plugins
.flutter-plugins-dependencies
flutter_*.png
.pub-cache/
.pub/

# Web
.dart_tool/

# Build artifacts
app-

# Test
coverage/
